<p-toast position="bottom-right" key="success"></p-toast>

<p-toast position="center" key="confirmDelete" (onClose)="aoRejeitar()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="aoConfirmar()" label="Sim" class="ui-button-success"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="aoRejeitar()" label="Não" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-table [value]="pessoas" [autoLayout]="true" [responsive]="true"
[paginator]="true" [rows]="filtro.itensPorPagina" [totalRecords]="totalRegistro"
[lazy]="true" (onLazyLoad)="aoMudarPagina($event)">
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Status</th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-p>
    <tr>
      <td>
        <span class="ui-column-title">Nome</span>
        {{p.nome}}
      </td>
      <td>
        <span class="ui-column-title">Cidade</span>
        {{p.endereco.cidade}}
      </td>
      <td>
        <span class="ui-column-title">Estado</span>
        {{p.endereco.estado}}
      </td>
      <td>
        <span class="ui-column-title">Status</span>
        <a href="#" [pTooltip]="p.ativo ? 'Desativar' : 'Ativar'"
          tooltipPosition="top" (click)="alterarStatus(p)">{{p.ativo ? 'Ativo' : 'Inativo'}}</a>
      </td>
      <td class="col-center">
        <button pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"></button>
        <button pButton icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top"
        (click)="addToastConfirmDelete(p)"
        [disabled]="!auth.temPermissao('ROLE_REMOVER_PESSOA')"></button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="5">
        Nenhum lançamento encontrado
      </td>
    </tr>
  </ng-template>
</p-table>
