<div class="costum-container">
  <form #loginForm="ngForm" (ngSubmit)="login(usuario.value, senha.value); loginForm.reset(); ">
    <div class="p-grid p-dir-col">
      <div class="p-col-6 p-col-align-center">
        <h1>Login</h1>
      </div>

      <div class="p-col-6 p-col-align-center">
        <input type="text" pInputText placeholder="Login" class="inputFull" name="usuario" ngModel #usuario="ngModel" required>
      </div>

      <div class="p-col-6 p-col-align-center">
        <input type="text" pPassword [feedback]=false [showPassword]=false placeholder="Senha" class="inputFull" name="senha" ngModel #senha="ngModel" required minlength="4">
      </div>

      <div class="p-col-6 p-col-align-center">
        <button pButton type="submit" label="Login" class="inputFull" [disabled]="loginForm.invalid"></button>
        <div class="p-grid p-dir-col p-justify-center">
          <p-progressSpinner *ngIf="load" class="p-col p-col-align-center"></p-progressSpinner>

        </div>
      </div>
    </div>
  </form>

</div>
