<div class="costum-container">
  <h1>Novo lançamento</h1>
  <form action="" class="form-novo-lancamento">

    <div class="vencimento">
      <label>Vencimento</label>
      <p-calendar [locale]="br" showButtonBar="true"></p-calendar>
    </div>

    <div class="recebimento">
      <label>Recebimento</label>
      <p-calendar [locale]="br"></p-calendar>
    </div>

    <div class="descricao">
      <label>Descrição</label>
      <input pInputText type="text">
    </div>

    <div class="valor">
      <label>Valor</label>
      <input pInputText type="text" placeholder="0,00">
    </div>

    <div class="categoria">
      <label>Categoria</label>
      <input pInputText type="text">
    </div>

    <div class="pessoa">
      <label>Pessoa</label>
      <input pInputText type="text">
    </div>

    <div class="observacao">
      <label>Observação</label>
      <textarea pInputTextArea rows="3" type="text"></textarea>
    </div>

    <div class="botoes">
      <button pButton type="submit" label="Salvar"></button>
      <button pButton type="submit" label="Novo"></button>
      <a href="#">Voltar para a pesquisa</a>
    </div>
  </form>
</div>
