<div class="costum-container">
  <h1>Novo lançamento</h1>
  <form action="" class="form-novo-lancamento">

    <div class="tipo">
      <p-selectButton [options]="tipoLancamento" #tipo ></p-selectButton>
    </div>

    <div class="vencimento">
      <label>Vencimento</label>
      <p-calendar [locale]="br" showButtonBar="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-calendar>
    </div>

    <div class="recebimento">
      <label>{{ tipo.value == 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
      <p-calendar [locale]="br" showButtonBar="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-calendar>
    </div>

    <div class="descricao">
      <label>Descrição</label>
      <input pInputText type="text">
    </div>

    <div class="valor">
      <label>Valor</label>
      <input pInputText type="text" placeholder="0,00">
    </div>

    <div class="categoria">
      <label>Categoria</label>
      <p-dropdown [options]="categorias" [style]="{'width':'100%'}" placeholder="Selecione"></p-dropdown>
    </div>

    <div class="pessoa">
      <label>Pessoa</label>
      <p-dropdown [options]="pessoas" [style]="{'width':'100%'}" placeholder="Selecione"
      [filter]="true"></p-dropdown>
    </div>

    <div class="observacao">
      <label>Observação</label>
      <textarea pInputTextArea rows="3" type="text"></textarea>
    </div>

    <div class="botoes">
      <button pButton type="submit" label="Salvar"></button>
      <button pButton type="submit" label="Novo"></button>
      <a href="#">Voltar para a pesquisa</a>
    </div>
  </form>
</div>
