<nav class="navbar">
  <div class="costum-container">
    <div class="p-grid p-align-center" style="height: 100%;">
      <div class="p-col">
        <input type="checkbox" id="checkMenu">
        <label class="navbar-toggle" for="checkMenu"><i class="fa fa-bars"></i></label>
        <ul class="navbar-menu">
          <li class="navbar-usuario">{{usuario}}</li>
          <li class="navbar-menuitem" routerLinkActive="ativo"
            *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')"><a routerLink="/lancamento">Lançamentos</a></li>
          <li class="navbar-menuitem" routerLinkActive="ativo"
            *ngIf="auth.temPermissao('ROLE_PESQUISAR_PESSOA')"><a routerLink="/pessoa">Pessoas</a></li>
          <li class="navbar-menuitem" routerLinkActive="ativo">
            <a routerLink="/login" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</nav>
