<nav class="navbar">
  <div class="costum-container">
    <div class="p-grid p-align-center" style="height: 100%;">
      <div class="p-col">
        <input type="checkbox" id="checkMenu">
        <label class="navbar-toggle" for="checkMenu"><i class="fa fa-bars"></i></label>
        <ul class="navbar-menu">
          <li class="navbar-usuario">José da Silva</li>
          <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/lancamento">Lançamentos</a></li>
          <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/pessoa">Pessoas</a></li>
          <li class="navbar-menuitem"><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

</nav>
